html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3E3E3E;
}

.form-control {
    font-size: 1rem;
}

.form-check-input {
    width: 16px;
    height: 16px;
}

.form-check-label {
    margin-left: 5px;
}

.btn-primary {
    background-color: #01957D;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #01715d;
    }

a {
    color: #01957D;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* FontAwesome Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.fa-user, .fa-lock {
    font-size: 1.2rem;
}
